Repository sammarxz/puro-suco-newsletter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(domain): Define Subscriber entity and subscription use case
  eslint.config.mjs
  src/domain/entities/Subscriber.ts
  src/domain/entities/__tests__/Subscriber.test.ts
  src/domain/repositories/SubscriberRepository.ts
  src/domain/usecases/SubscriptionUseCase.ts
  src/domain/usecases/__tests__/SubscriptionUseCase.test.ts
  src/domain/value-objects/Email.ts
  src/domain/value-objects/SubscriberId.ts
  src/domain/value-objects/UnsubscribeToken.ts
Due: eslint --fix, prettier --write

feat(infra): Implement Turso repository for subscribers
  src/infrastructure/database/MigrationManager.ts
  src/infrastructure/database/migration-runner.ts
  src/infrastructure/database/migrations.sql
  src/infrastructure/database/migrations/001_create_subscribers.ts
  src/infrastructure/database/migrations/index.ts
  src/infrastructure/database/turso-client.ts
  src/infrastructure/repositories/TursoSubscriberRepository.ts
Due: eslint --fix, prettier --write

feat(infra): Add Resend email service implementation
  emails/templates/confirmation-email.tsx
  emails/templates/newsletter-template.tsx
  emails/templates/welcome-email.tsx
  src/domain/services/EmailService.ts
  src/infrastructure/email/ResendEmailService.ts
Due: eslint --fix, prettier --write

feat(api): Create subscription and confirmation endpoints
  src/pages/api/confirm/[token].ts
  src/pages/api/subscribe.ts
Due: eslint --fix, prettier --write

feat(ui): Develop newsletter subscription form and CTA
  src/components/NewsletterCTA.astro
  src/components/SimpleSubscriptionForm.astro
  src/components/ui/Button.astro
  src/components/ui/Input.astro
Due: eslint --fix, prettier --write

feat(content): Setup content collection for newsletters
  src/content/config.ts
  src/content/newsletters/001-primeira-edicao.md
  src/content/newsletters/002-react-19-e-novas-tendencias.md
  src/content/newsletters/003-draft-test.md
Due: eslint --fix, prettier --write

feat(newsletter): Build pages for listing and viewing newsletters
  src/components/FeaturedNewsletter.astro
  src/pages/newsletters.astro
  src/pages/newsletters/[...slug].astro
Due: eslint --fix, prettier --write

feat(newsletter): Implement newsletter sending logic
  src/domain/entities/Newsletter.ts
  src/domain/entities/NewsletterIssue.ts
  src/domain/repositories/NewsletterRepository.ts
  src/domain/usecases/NewsletterSendingUseCase.ts
  src/infrastructure/repositories/AstroNewsletterRepository.ts
  src/lib/newsletter-utils.ts
  src/lib/reading-time.ts
  src/pages/api/send-newsletter.ts
Due: eslint --fix, prettier --write

feat(unsubscribe): Implement unsubscribe flow
  src/pages/api/unsubscribe/index.ts
  src/pages/unsubscribe/[token].astro
  src/pages/unsubscribe/index.astro
  src/pages/unsubscribe/token.astro
Due: eslint --fix, prettier --write

refactor: Implement Dependency Injection container
  src/lib/container/DIContainer.ts
  src/lib/container/bindings.ts
Due: eslint --fix, prettier --write

ci: Add GitHub Actions workflow for deployment
  .github/workflows/deploy.yml
Due: none

docs: Write comprehensive README and project documentation
  NEWSLETTER-SYSTEM.md
  README.md
Due: prettier --write

feat: Add core utilities and base infrastructure components
  src/components/NewsletterFooter.astro
  src/components/ShareButtons.astro
  src/infrastructure/storage/InMemorySubscriberRepository.ts
  src/lib/errors/AppError.ts
  src/lib/errors/ErrorHandler.ts
  src/lib/errors/__tests__/ErrorHandler.test.ts
  src/lib/middleware/SecurityHeaders.ts
  src/lib/services/SubscriptionService.ts
  src/lib/utils/crypto.ts
  src/lib/utils/errors.ts
  src/lib/utils/logger.ts
  src/lib/validations/subscription.ts
Due: eslint --fix, prettier --write

chore: Add remaining tooling configurations
  .prettierignore
  vitest.config.ts
Due: eslint --fix, prettier --write

docs: Add environment variables example
  .env.example
Due: none

feat: Add public assets
  public/fonts/Inter.woff2
  public/logo.png
  public/logo.svg
Due: none

chore: Remove outdated newsletter system documentation
  NEWSLETTER-SYSTEM.md
Due: prettier --write

docs: Update README.md to reflect project changes (Turso, DI)
  README.md
Due: prettier --write

fix: Resolve all remaining linting errors and warnings
  scripts/watch-newsletter.ts
  src/infrastructure/database/turso-client.ts
  src/infrastructure/repositories/TursoSubscriberRepository.ts
  src/lib/errors/AppError.ts
Due: eslint --fix, prettier --write

chore: Add MIT License to the project
  LICENSE
Due: none

feat: Implement health check endpoint for service monitoring
  scripts/health-check.ts
Due: eslint --fix, prettier --write

chore: Update configuration files for consistency and formatting
  .prettierrc
  astro.config.mjs
  eslint.config.mjs
Due: none

chore: Remove Cloudflare Pages deployment workflow
  .github/workflows/deploy.yml
Due: none

feat(dev): Add scripts for newsletter testing and database setup
  scripts/setup-database.ts
  test-newsletter.sh
Due: eslint --fix, prettier --write

fix: Allow re-subscription for unsubscribed users
  src/domain/entities/Subscriber.ts
  src/domain/usecases/SubscriptionUseCase.ts
Due: eslint --fix, prettier --write

feat(ui): Implement toast notification system
  src/components/ui/ToastContainer.astro
  src/components/ui/ToastItem.astro
  src/lib/utils/toast.ts
Due: eslint --fix, prettier --write

feat(ui): Integrate ToastContainer into BaseLayout
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write

feat(api): Refactor API endpoints to return JSON and update token.astro
  src/pages/api/confirm/[token].ts
  src/pages/api/unsubscribe/index.ts
  src/pages/unsubscribe/token.astro
Due: eslint --fix, prettier --write

refactor(unsubscribe): remove token.astro page and related logic
  src/pages/unsubscribe/token.astro
Due: eslint --fix, prettier --write

feat(subscription): send welcome email after confirmation
  src/domain/usecases/SubscriptionUseCase.ts
  src/pages/api/confirm/[token].ts
Due: eslint --fix, prettier --write

feat(email): implement react-email templates and infrastructure
  emails/components/EmailFooter.tsx
  emails/components/EmailHeader.tsx
  emails/components/EmailLayout.tsx
  emails/index.tsx
  emails/styles/design-tokens.ts
  emails/templates/confirmation-email.tsx
  emails/templates/newsletter-template-preview.tsx
  emails/templates/newsletter-template.tsx
  emails/templates/welcome-email.tsx
  emails/utils/env.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(email): resolve newsletter styling in email clients
  src/infrastructure/email/ResendEmailService.ts
Due: eslint --fix, prettier --write

feat(ui): enhance components styling and functionality
  src/components/NewsletterCTA.astro
  src/components/ShareButtons.astro
  src/components/SimpleSubscriptionForm.astro
  src/components/ui/Button.astro
  src/layouts/BaseLayout.astro
  src/lib/utils/toast.ts
Due: eslint --fix, prettier --write

feat(subscription): improve subscription flow and confirmations
  src/domain/entities/__tests__/Subscriber.test.ts
  src/domain/usecases/NewsletterSendingUseCase.ts
  src/domain/usecases/SubscriptionUseCase.ts
  src/domain/usecases/__tests__/SubscriptionUseCase.test.ts
  src/lib/services/SubscriptionService.ts
Due: eslint --fix, prettier --write

feat(infrastructure): enhance database and repository layers
  src/infrastructure/database/MigrationManager.ts
  src/infrastructure/database/migration-runner.ts
  src/infrastructure/database/turso-client.ts
  src/infrastructure/repositories/AstroNewsletterRepository.ts
  src/infrastructure/repositories/TursoSubscriberRepository.ts
  src/lib/container/bindings.ts
  src/lib/errors/ErrorHandler.ts
Due: eslint --fix, prettier --write

refactor(unsubscribe): streamline unsubscribe workflow
  src/pages/unsubscribe/[token].astro
  src/pages/unsubscribe/index.astro
Due: eslint --fix, prettier --write

feat(assets): update logo and favicon branding
  public/favicon.svg
  public/logo.png
  public/logo.svg
Due: none

chore: cleanup configuration and remove draft files
  astro.config.mjs
  ecosystem.config.js
  src/components/FeaturedNewsletter.astro
  src/content/config.ts
  src/content/newsletters/003-draft-test.md
  src/lib/newsletter-utils.ts
  src/pages/api/send-newsletter.ts
  src/pages/api/subscribe.ts
  src/pages/newsletters.astro
  src/pages/newsletters/[...slug].astro
Due: eslint --fix, prettier --write

chore: remove obsolete newsletter testing script
  test-newsletter.sh
Due: none

feat(ui): add Badge component with customizable styles and variants
  src/components/ui/Badge.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md,css})
