Repository sammarxz/puro-suco-newsletter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

feat(ui): add SubscriptionForm component with email submission and validation
  src/components/ui/SubscriptionForm.astro
Due: eslint --fix, prettier --write

feat(ui): add confirmation page for subscription with success and error handling
  src/pages/confirm/[token].astro
Due: eslint --fix, prettier --write

docs: update README with comprehensive project documentation and preview image
  README.md
  preview.png
Due: prettier --write

chore: update preview image for improved project visualization
  preview.png
Due: none

feat: implement RSS feed for newsletter syndication
  README.md
  package-lock.json
  package.json
  src/layouts/BaseLayout.astro
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

feat(deploy): add settings to deploy on fly.io
  .dockerignore
  .flyignore
  Dockerfile
  astro.config.mjs
  fly.toml
  scripts/watch-newsletter.ts
  src/pages/api/health.ts
  start.sh
Due: eslint --fix, prettier --write

fix: update confirmation URL paths to remove redundant 'api' segment refactor: change logo URL from SVG to PNG format in utility functions test: adjust test to reflect updated confirmation URL path
  emails/utils/env.ts
  src/domain/usecases/NewsletterSendingUseCase.ts
  src/domain/usecases/SubscriptionUseCase.ts
  src/domain/usecases/__tests__/SubscriptionUseCase.test.ts
Due: eslint --fix, prettier --write

feat(deploy): add GitHub Actions for automatic deployment
  .github/workflows/deploy.yml
Due: none

chore: update logo on emails to use png instead of svg
  emails/utils/env.ts
Due: eslint --fix, prettier --write

feat: add Umami Analytics script for tracking
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write
